$mainInterfaceBackgroundColor: rgba(48, 48, 48, 0.9);
$mainNonActiveInterfaceColor: #2F4F2F;
$mainActiveInterfaceColor: #D4A017;
$mainHUDColor: #8B4513;
$secondaryInterfaceColor: #4F6D7A;
$mainInterfaceFontColor: #E6D8AC;

$primary-color: #00b34d;
$secondary-color: #00ff1a;

$godlikeColor: red;
$legendaryColor: orange;
$eliteColor: blueviolet;
$rareColor: blue;
$uncommonColor: green;
$commonColor: grey;

// Миксины
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin transition($property, $duration) {
  transition: $property $duration ease-in-out;
}

:root {
  --cursor: auto;
  overflow: hidden;
  background-color: black;
}

body {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: none;
  @include flex-column();
  background-image: url("../../../src/assets/backgrounds/menu/449522-Pixel-Cat-fantasy-art-digital-art-river-castle-844731993.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#welcome-div {
  display: flex;
  @include flex-column();
}

p {
  display: block;
}

.hidden {
  display: none;
}

.godlike {
  color: $godlikeColor;
}

.legendary {
  color: $legendaryColor;
}

.elite {
  color: $eliteColor
}

.rare {
  color: $rareColor;
}

.uncommon {
  color: $uncommonColor;
}

.common {
  color: $commonColor;
}

@font-face {
  font-family: "PixelFont";
  src: url("../../assets/fonts/Planes_ValMore.ttf");
}

$mainFont: 'PixelFont';

html {
  color: $mainInterfaceFontColor;
}

* {
  font-family: $mainFont;
}

.cell:hover {
  background-color: $mainActiveInterfaceColor;
}

.ui-div {
  background-color: $mainInterfaceBackgroundColor;
  color: $mainInterfaceFontColor;
  border: 1px solid $mainInterfaceFontColor;
  border-radius: 10px;
  z-index: 10;
}

.menu-button {
  width: 60%;
  height: 50px;
  font-size: large;
  cursor: pointer;

    @include transition(all, 0.3s);

    &:hover {
      background-color: darken($mainActiveInterfaceColor, 10%);
    }
}

.menu-button:active {
  background-color: $mainInterfaceFontColor;
}

.menu-button:disabled {
  background-color: $mainNonActiveInterfaceColor;
}

.cell {
  width: 3vw;
  height: 3vw;
  background-size: cover;
  background-position: center;
}

.auth-div {
  width: 20vw;
  height: 100%;
}

.auth-div * {
  padding-top: 1vh;
}
.auth-div button {
  padding: 10px;
  margin-top: 1vh;
}

.menu-div {
  width: 20vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cell-type {
  width: 30vw;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  align-content: start;
  position: absolute;
}

.inventory-div {
  height: 30vw;
  margin: 30px;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.panel-div {
  height: 3vw;
  left: calc(50% - 18vw);
  overflow: hidden;
}

.info-div {
  padding: 15px;
  width: max-content;
  max-width: 400px;
  position: absolute;
  z-index: 12;
}

.chat-div {
  position: absolute;
  height: 25vh;
  margin: 30px;
  width: 25vw;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  padding: 10px;
  left: 0;
  bottom: 0;
}

#chat-input {
  margin: 30px;
  bottom: 0;
  left: 0;
  width: 25vw;
  /* height: 10%; */
  height: 20px;
  align-self: flex-end;
  position: fixed;
}

#title {
  font-size: 70px;
  z-index: 7;
  cursor: default;
  user-select: none;
  color: #181840;
  top: 10vh;
  position: absolute;
  animation: titleAnimation 2s infinite alternate;
}


@keyframes titleAnimation {
  from {
    text-shadow: 0 0 10px #000000;
  }
  to {
    text-shadow: 0 0 30px gold;
  }
}

#canvas {
  top: 0;
  position: absolute;
  display: none;
}


.stat-bar, .stat-bar-enemy {
  width: 15vw;
  height: 3vh;
  position: absolute;
  border-radius: 10px;
  margin: 30px;
  left: 0;
  top: 0;
  z-index: 10;
}

.stat-bar-enemy {
  left: 20%;
}

.inventory-div::-webkit-scrollbar-thumb {
  background-color: $mainHUDColor;
  border-radius: 10px;
  cursor: pointer;
}

.inventory-div::-webkit-scrollbar-track {
  background-color: rgba(48, 45, 131, 0.7);
  border-radius: 10px;
}

.inventory-div::-webkit-scrollbar {
  background-color: rgba(106, 104, 159, 0.7);
}
