$black: #000000;
$white: #ffffff;
$grey: #808080;
$dark-grey: #404040;
$light-grey: #c0c0c0;

$mainInterfaceBackgroundColor: rgba(28, 27, 56, 0.7);
$mainInterfaceFontColor: $white;

$primary-color: #00b34d;
$secondary-color: #00ff1a;

$legendaryColor: orange;
$eliteColor: blueviolet;
$rareColor: blue;
$uncommonColor: green;
$commonColor: $grey;

p {
  display: block;
}
.hidden {
  display: none;
}
.legendary {
  color: $legendaryColor;
}
.elite {
  color: $eliteColor
}
.rare {
  color: $rareColor;
}
.uncommon {
  color: $uncommonColor;
}
.common {
  color: $commonColor;
}

@font-face {
  font-family: "PixelFont";
  src: url("../../assets/fonts/Planes_ValMore.ttf");
}
$mainFont: 'PixelFont';

html {
  font-family: $mainFont;
}

// Миксины
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin transition($property, $duration) {
  transition: $property $duration ease-in-out;
}

// Вложенность
.container {
  @include flex-center;
  background-color: $primary-color;
  color: white;
  font-family: $font-stack;
  height: 100vh;

  .button {
    background-color: $secondary-color;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    @include transition(all, 0.3s);

    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }
}

// Использование вложенных селекторов и псевдоклассов
.navbar {
  background-color: $primary-color;
  padding: 1rem;

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline;
      margin-right: 1rem;

      a {
        color: white;
        text-decoration: none;
        @include transition(color, 0.3s);

        &:hover {
          color: lighten($primary-color, 20%);
        }
      }
    }
  }
}



















@font-face {
  font-family: "PixelFont";
  src: url("./src/assets/fonts/Planes_ValMore.ttf");
}

* {
  font-family: "PixelFont";
}

:root {
  --cursor: auto;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-image: url("./src/assets/backgrounds/menu/pixel-art.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#title {
  font-size: 70px;
  z-index: 7;
  cursor: default;
  user-select: none;
  animation: titleAnimation 2s infinite alternate;
}

@keyframes titleAnimation {
  from {
    text-shadow: 0 0 10px #00b34d;
  }
  to {
    text-shadow: 0 0 30px #00b34d;
  }
}

#canvas {
  border: 3px solid black;

  top: 0;
  position: absolute;
  display: none;
}

#menu {
  z-index: 10;
  width: 20vw;
  height: 60vh;
}

.menuDiv {
  background-color: rgba(28, 27, 56, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  border: 3px solid black;
}

.inventory-div {
  background-color: rgba(28, 27, 56, 0.7);
  width: 30vw;
  height: 30vw;
  position: absolute;
  margin: 30px;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: start;
  border: 2px solid black;
  z-index: 5;
  overflow-y: scroll;
  overflow-x: hidden;
}

.panel-div {
  background-color: rgba(28, 27, 56, 0.7);
  width: 30vw;
  height: 3vw;
  position: absolute;
  margin: 30px;
  bottom: 0;
  left: calc(50% - 18vw);
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: start;
  border: 2px solid black;
  z-index: 5;
  overflow: hidden;
}

.item-info {
  top: 0;
  right: 0;
  padding: 10px;
  width: max-content;
  max-width: 400px;
  background-color: rgba(28, 27, 56, 0.7);
  position: absolute;
  border-radius: 10px;
  border: 2px solid black;
  z-index: 12;
}

.chat-div {
  position: absolute;
  height: 25vh;
  margin: 30px;
  width: 25vw;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(28, 27, 56, 0.7);
  border-radius: 10px;
  flex-direction: column;
  padding: 10px;
  left: 0;
  bottom: 0;
  z-index: 10;
}

#chat-input {
  margin: 30px;
  bottom: 0;
  left: 0;
  width: 25vw;
  /* height: 10%; */
  height: 20px;
  background-color: rgba(28, 27, 56, 0.7);
  border-color: black;
  align-self: flex-end;
  position: fixed;
}



.stat-bar, .stat-bar-enemy {
  width: 15vw;
  height: 3vh;
  position: absolute;
  margin: 30px;
  left: 0;
  top: 0;
  z-index: 5;
}
.stat-bar-enemy {
  left: 20%;
}

.inventory-div::-webkit-scrollbar-thumb {
  background-color: rgba(49, 47, 112, 0.7);
  border-radius: 10px;
  cursor: pointer;
}
.inventory-div::-webkit-scrollbar-track {
  background-color: rgba(28, 27, 56, 0.7);
  border-radius: 10px;
}
.inventory-div::-webkit-scrollbar {
  background-color: rgba(28, 27, 56, 0.7);
}

.menuButton {
  width: 60%;
  height: 50px;
  background-color: rgba(28, 27, 56, 1);
  border: 3px solid black;
  border-radius: 10px;
  font-size: large;
  cursor: pointer;
  color: white;
}



.cell {
  width: 10%;
  height: 10%;
  border: 4px solid black;
  border-radius: 10px;
  background-color: rgba(28, 27, 56, 0.7);
  background-size: cover;
  background-position: center;
}

.cell:hover {
  background-color: rgba(54, 52, 108, 0.7);;
}

.menuButton:hover {
  background-color: #00b34d;
  transition-duration: 0.3s;
}

.menuButton:active {
  background-color: #00ff1a;
}

