@import "../../../game/globalStyles";

// Auth layout
.auth-div {
  width: 20vw;
  height: 100%;
  text-align: center;

  div {
    @include flex(column);
    margin-top: 1.5vh;
  }

  label {
    padding: 0.5em;
  }

  button {
    margin-top: 2em;
  }

  input {
    height: 2em;
    width: 50%;
  }
}